image:
  tag: prod-latest

spring:
  datasource:
    read:
      url: jdbc:mysql://127.0.0.1:3306/rats?useSSL=false&allowPublicKeyRetrieval=true
      username: devuser
      password: Rcal_1995!
    write:
      url: jdbc:mysql://10.10.5.55:6446/rats?useSSL=false&allowPublicKeyRetrieval=true
      username: rat
      password: Rat_2021!