image:
  tag: test-latest

spring:
  datasource:
    read:
      url: jdbc:mysql://127.0.0.1:3306/rats?useSSL=false&allowPublicKeyRetrieval=true
      username: devuser
      password: Rcal_1995!
    write:
      url: jdbc:mysql://127.0.0.1:3306/rats?useSSL=false&allowPublicKeyRetrieval=true
      username: devuser
      password: Rcal_1995!

cloudsql:
  enabled: true
  instanceConnectionName: noble-helper-469522-j1:us-south1:rcal-mysql-dal